extends layout

block content
  h1.
    About Habit Rabbit
  p.
    Habit Rabbit is an app I started developing to help me keep track of the habits I was forming, both good and bad. I have come to believe that
    creating good habits and avoiding bad ones is incredibly important to leading a healthy and productive life, so I set out to make
    something that would help people do just that. Habit Rabbit helps you be more cognizant of your habit formation by consistently 
    asking you how you are doing with each habit you care about and tracking your progress.
  h1.
    Hava a Suggestion or Find a Bug?
  p.
    If you would like to suggest features for Habit Rabbit or report any bugs please open an issue on #[a(href='http://www.github.com/rileyatodd/habitRabbit/issues') GitHub]!