extends layout

block content
  h1= name
  form#editHabitForm
    div.col-xs-12
      |Habit Name
      input#name.form-control(type='text', value=name)
    div.col-xs-12
      |Frequency
      input#frequency.form-control(type='number', value=frequency)
      |time(s) per 
      select#period.form-control
        option(value='day', selected=(period=='day')) Day
        option(value='week', selected=(period=='week')) Week
        option(value='month', selected=(period=='month')) Month
    div.col-xs-6
      button#cancelEdit.btn.btn-danger Cancel
    div.col-xs-6
      button#saveChanges.btn.btn-success.pull-right Save Changes
