tr.habit
  td.description
    a.editHabit
      span.habitName

  td.reinforce
    button.btn
      span.reinforceGlyphicon.glyphicon
  td.record
    |Record
  td
    a.deleteHabit.pull-right(href='#')
      span.glyphicon.glyphicon-remove