tr.habit
  td.description
    span.habitName
    | 
    span.frequency
    |  time(s) per 
    span.period
    a.editHabit
      |Edit
  td.reinforce
    button.btn
      span.reinforceGlyphicon.glyphicon
  td.record
    |Record
  td
    a.deleteHabit(href='#')
      span.glyphicon.glyphicon-remove