tr.habit
  td.col-md-8.name
    |Did you 
    span.habitName
    span.period
    |?
  td.col-md-3
    div.col-md-1
      button.reinforceYes
        |Yes
    div.col-md-1
    div.col-md-1
      button.reinforceNo
        |No
  td.col-md-1
    a.deleteHabit(href='#')
      |Delete