extends layout

block content
  form#addHabitForm
    div.col-xs-12.col-sm-9.col-md-3
      input.form-control#inputHabitName(type='text', placeholder='New Habit Name')
    div.col-xs-12.col-sm-3.col-md-2
      select.form-control#goodOrNo
        option(value='true')
          |Good Habit
        option(value='')
          |Bad Habit
    div.col-xs-3.col-md-1
      input.form-control#frequency(type='number', placeholder=1, value=1)
    div.col-xs-2 time(s)   per 
    div.col-xs-4.col-md-2
      select.form-control#period
        option(value='day') Day
        option(value='week') Week
        option(value='month') Month
    div.col-xs-3.col-md-2
      button#addHabitButton
        |Add Habit
  table#habitList.table.table-striped
    thead#habitListHead
      td Habit
      td Reinforce
      td Past 5 Periods
      td
    tbody#habitListBody