tr.habit
  td.description
    a.editHabit
  td.reinforce
    button.btn
      span.reinforceGlyphicon.glyphicon
  td.record
    |Record
  td
    a.deleteHabit(href='#')
      span.glyphicon.glyphicon-remove