//Habit widget
div.habit.collapse
  div.row
    div.col-md-8.habitName
      |I'm a habit!
    div.col-md-2
      button.reinforceYes
        |Yes
    div.col-md-2
      button.reinforceNo
        |No
