tr.habit
  td.col-sm-6.name
    |Did you 
    span.habitName
    |  this  
    span.period
    |?
  td.col-xs-4
    div.col-xs-1
      button.reinforceYes
        |Yes
    div.col-xs-1.col-xs-offset-1
      button.reinforceNo
        |No
  td.col-xs-1
    a.deleteHabit(href='#')
      span.glyphicon.glyphicon-remove