tr.habit
  td.name
    |Did you 
    span.habitName
    |  this  
    span.period
    |?
  td
    button.reinforceYes
      |Yes
  td
    button.reinforceNo
      |No
  td
    a.deleteHabit(href='#')
      span.glyphicon.glyphicon-remove