extends layout

block content
  h1.
    Pick a username and password
  form(action='/signup', method='post')
    div.form-group
      label Username:
      input.form-control(type='text', name='username')
    div.form-group
      label Password:
      input.form-control(type='password', name='password')
    input.btn.pull-right(type='submit')
  h1.
      !!PLEASE NOTE!! Usernames and passwords entered here are NOT stored securely.
      PLEASE do NOT use a username & password that you use for anything important