extends layout

block content
  h1 Habit Rabbit
  div.row
    form#addHabitForm
      div.col-md-8
        input#inputHabitName(type='text', placeholder='New Habit Name')
      div.col-md-2  
        select#goodOrNo
          option(value='true')
            |Good
          option(value='false')
            |Bad

      div.col-md-2
        button#addHabitButton
          |Add Habit

  table#habitList.table.table-striped