body {
  padding-top: 60px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.editHabit {
  display: block;
}

.deleteHabit {
  color: #FF0000;
}

.recordTable td {
  padding: 10px;
  text-align: center;
}