body {
  padding-top: 60px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.editHabit {
  display: block;
}

.deleteHabit {
  color: #FF0000;
}

.recordTable td {
  padding: 10px;
  text-align: center;
}

.table .recordTable td.success {
  background-color: #68CB58;
}

.table .recordTable td.danger {
  background-color: #DF5959;
}

.last {
  margin-right: 0 !important;
}