body {
  padding-top: 60px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.deleteHabit {
  color: #FF0000;
}

#addHabitForm div {
  padding: 0;
}

#perSlash {
  font-size: 20px;
  text-align: center;
}

.recordTable td {
  padding: 10px;
  text-align: center;
}

#habitTable td {
  vertical-align: middle;
}

.table .recordTable {
  margin-bottom: 0px;
}

.table .recordTable td {
  vertical-align: middle;
}

.table .recordTable td.success {
  background-color: #68CB58;
}

.table .recordTable td.danger {
  background-color: #DF5959;
}